* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #ddd;
}

.logo {
  width: 120px;
}

.nav-items ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.res-card{
    width:200px;
    height:300px;
    border:1px solid black;
}